body {
    margin: 0%;
    padding: 0%;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: rgb(148, 145, 145) solid 1px;
    font-family: sans-serif;
    padding-right: 3px;
}

.menu i {
    margin: 3px;
}
.menu li {
    list-style: none;
    justify-content:flex-start;
    align-items: center;
    padding: 0%;
    margin-right: 5px;
}
.menu img {
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 5px;
}

.menu ul {
    padding: 0%;
}

.chat button{
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 5%;
    background-color: rgb(153, 135, 235);
    color: white;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: large;

}

.chat {
    border: rgb(148, 145, 145) solid 1px;
}

.foto {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: rgb(148, 145, 145) solid 1px;
}

.foto li {
    list-style: none;
    text-align: start;
    font-family: 'Roboto', sans-serif;
}

.foto img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: start;
    padding-left: 5px;
}

.foto ul {
    padding-left: 10px;
}

.principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    flex-grow: 1;
    background-color: #E8EBE4;
}

.principal img {
   width: 200px;
   height: 200px;
   background-color:#a491d2;
   padding: 5%;
   border-radius: 10%;
   color: white;
}
 .principal h2 {
    margin: auto;
 }

 .principal p {
    margin-left: 10%;
    margin-right: 10%;
 }